/* ==========================================================================
 * // Core variables and mixins
 * ========================================================================== */

/* @import "bootstrap/variables";
 * ========================================================================== */

/* @import "bootstrap/mixins";
 * ========================================================================== */


/* Buttons */
@mixin button-variant($color, $background, $border, $action-bg, $action-color) {
  color: $color;
  background-color: $background;
  border-color: $border;
  border-width: 2px;
  background-clip: border-box;
  transition: all .1s ease-in-out;

  &:focus,
  &.focus {
    color: $action-color;
    background-color: $action-bg;
        border-color: $action-bg;
  }
  &:hover {
    color: $action-color;
    background-color: $action-bg;
        border-color: $action-bg;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $action-color;
    background-color: $action-bg;
        border-color: $action-bg;

    &:hover,
    &:focus,
    &.focus {
      color: $action-color;
      background-color: $action-bg;
          border-color: $action-bg;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background: $gray-light;
          border-color: $gray-light;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

/* Forms */
@mixin form-control-focus($color: $input-border-focus) {
    &:focus {
        border-color: #cbd1e0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(113,135,142,.3);
    }
}

/* Text-Emphasis */
@mixin text-emphasis-variant($parent, $color) {
    a#{$parent}:hover,
    a#{$parent}:focus {
        color: $color;
    }
}

/* ==========================================================================
 * // Reset and dependencies
 * ========================================================================== */

/* @import "bootstrap/normalize";
 * ========================================================================== */

/* @import "bootstrap/print";
 * ========================================================================== */

/* ==========================================================================
 * // Core CSS
 * ========================================================================== */

/* Horizontal Rule Custom
 * ========================================================================== */
hr {
  position: relative;
  background: inline-image('../img/sky-triangles-hr.svg') center center no-repeat;
  background-size: 2em 0.625em;
  border-top: 0;
  border-color: $hr-border;
  height: 10px;
  width: 100%;
}

hr:before {
  content: " ";
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
  position: absolute;
  width: calc(50% - 26px);
  top: 4px;
  left: 0;
}

hr:after {
  content: " ";
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
  position: absolute;
  width: calc(50% - 26px);
  top: 4px;
  right: 0;
}

/* @import "bootstrap/scaffolding";
 * ========================================================================== */
html {
    font-size: 16px;
}
body {
    font-family: $font-family-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
a {
    font-weight:bold;
    transition: color .1s ease-in-out;
}

/* @import "bootstrap/type";
 * ========================================================================== */

h1, h2,
.h1, .h2{
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
    }
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-family: $headings-font-family-medium;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
    }
}
h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: 1.042em;
    margin-bottom: 0.667em;
}

/* h1 responsive font sizes */

h1, .h1 {
  font-size: $font-size-h1-xs;
  letter-spacing: -0.00625em;
}

@include media-breakpoint-up(sm) {
  h1, .h1 {
    font-size: $font-size-h1-sm;
  }
}

@include media-breakpoint-up(shm) {
  h1, .h1 {
    font-size: $font-size-h1-shm;
  }
}

@include media-breakpoint-up(md) {
  h1, .h1 {
    font-size: $font-size-h1-md;
  }
}

@include media-breakpoint-up(lg) {
  h1, .h1 {
    font-size: $font-size-h1-lg;
  }
}

@include media-breakpoint-up(xl) {
  h1, .h1 {
    font-size: $font-size-h1;
  }
}

/* h2 responsive font sizes */

h2, .h2 {
  font-size: $font-size-h2-xs;
}

@include media-breakpoint-up(sm) {
  h2, .h2 {
    font-size: $font-size-h2-sm;
  }
}

@include media-breakpoint-up(shm) {
  h2, .h2 {
    font-size: $font-size-h2-shm;
  }
}

@include media-breakpoint-up(md) {
  h2, .h2 {
    font-size: $font-size-h2-md;
  }
}

@include media-breakpoint-up(lg) {
  h2, .h2 {
    font-size: $font-size-h2-lg;
  }
}

@include media-breakpoint-up(xl) {
  h2, .h2 {
    font-size: $font-size-h2;
  }
}

/* h3 responsive font sizes */

h3, .h3 {
  font-size: $font-size-h3-xs;
  letter-spacing:-0.26px;
}

@include media-breakpoint-up(sm) {
  h3, .h3 {
    font-size: $font-size-h3-sm;
  }
}

@include media-breakpoint-up(shm) {
  h3, .h3 {
    font-size: $font-size-h3-shm;
  }
}

@include media-breakpoint-up(md) {
  h3, .h3 {
    font-size: $font-size-h3-md;
  }
}

@include media-breakpoint-up(lg) {
  h3, .h3 {
    font-size: $font-size-h3-lg;
  }
}

@include media-breakpoint-up(xl) {
  h3, .h3 {
    font-size: $font-size-h3;
  }
}

/* h4 responsive font sizes */

h4, .h4 {
  font-size: $font-size-h4-xs;
}

@include media-breakpoint-up(sm) {
  h4, .h4 {
    font-size: $font-size-h4-sm;
  }
}

@include media-breakpoint-up(shm) {
  h4, .h4 {
    font-size: $font-size-h4-shm;
  }
}

@include media-breakpoint-up(md) {
  h4, .h4 {
    font-size: $font-size-h4-md;
  }
}

@include media-breakpoint-up(lg) {
  h4, .h4 {
    font-size: $font-size-h4-lg;
  }
}

@include media-breakpoint-up(xl) {
  h4, .h4 {
    font-size: $font-size-h4;
  }
}

/* h5 responsive font sizes */

h5, .h5 {
  font-size: $font-size-h5-xs;
}

@include media-breakpoint-up(sm) {
  h5, .h5 {
    font-size: $font-size-h5-sm;
  }
}

@include media-breakpoint-up(shm) {
  h5, .h5 {
    font-size: $font-size-h5-shm;
  }
}

@include media-breakpoint-up(md) {
  h5, .h5 {
    font-size: $font-size-h5-md;
  }
}

@include media-breakpoint-up(lg) {
  h5, .h5 {
    font-size: $font-size-h5-lg;
  }
}

@include media-breakpoint-up(xl) {
  h5, .h5 {
    font-size: $font-size-h5;
  }
}

/* h6 responsive font sizes */

h6, .h6 {
  font-size: $font-size-h6-xs;
}

@include media-breakpoint-up(sm) {
  h6, .h6 {
    font-size: $font-size-h6-sm;
  }
}

@include media-breakpoint-up(shm) {
  h6, .h6 {
    font-size: $font-size-h6-shm;
  }
}

@include media-breakpoint-up(md) {
  h6, .h6 {
    font-size: $font-size-h6-md;
  }
}

@include media-breakpoint-up(lg) {
  h6, .h6 {
    font-size: $font-size-h6-lg;
  }
}

@include media-breakpoint-up(xl) {
  h6, .h6 {
    font-size: $font-size-h6;
  }
}

.bold, strong, bold{
    font-weight:bold;
}

.page-header {
  margin: 3rem 0 2rem;
  line-height: 1.2;

}

ul.triangle {
    overflow:hidden;
    > li,
    > ul li {
        padding-left: 0;
        position: relative;
        list-style: none;
        &:before {
          position: absolute;
          top: 8px;
          left: -0.8em;
          width: 0;
          height: 0;
          border-left: 4px solid $blue;
          border-bottom: 4px solid transparent;
          content: '';
          border-top: 4px solid transparent;
          border-right: 0;
        }
    }
}

/* @import "bootstrap/code";
 * ========================================================================== */
pre {
    border: 1px solid $cool-gray !important;
}

html.sticky-footer {
    body > .page-row-padding-top:before, body .page-row-padding-bottom:after {
        height:0.8em;
        background: $warm-gray;
    }
}

/* @import "bootstrap/tables";
 * ========================================================================== */
// Baseline styles

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}
table,
.table {
    > thead > tr > th {
    background-color: $table-header-bg-color;
    color:$table-header-color;
    text-transform: uppercase;
    }
}

.table-striped > tbody > tr:nth-of-type(odd){
  background-color: transparent;
}

.table-striped > tbody > tr > th,
.table-striped > tbody > tr > td  {
  border-bottom: 1px solid $cool-gray;
}

.table-striped > tbody > tr:last-child > td,
.table-striped > tbody > tr:last-child > th {
    border-bottom: none;
}


.table-hover {
    > tbody > tr:hover {
        color: $ash;
        background-color: $table-bg-hover;
    }
}

/* @import "bootstrap/forms";
 * ========================================================================== */
label {
    /*display: inline-block;*/
    /*max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)*/
    /*margin-bottom: 5px;*/
    /*padding: 1em 0 0;*/
    color: $silver-dark;
    /*font-weight: 700;*/
    /*font-size: 1em;*/
}
.label {
    border-radius: 0em;
}

.form-control {
  border: $input-border-width solid $input-border-color;
}

select.form-control, select {
    border: 0;
    outline: 1px solid $input-border-color;
    background-color: white;
    border-radius: 0;
}

/* @import "bootstrap/buttons";
 * ========================================================================== */
.btn {
    background-clip: border-box;
    font-weight: 700;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    letter-spacing: .04em;
    text-transform: uppercase;
    white-space: normal;
}

.btn-red,
.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-action-color, $btn-default-color);
}
.btn-blue,
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-action-color, $btn-primary-color);
}
// Success appears as cactus
.btn-cactus,
.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border, $btn-success-action-color, $btn-success-color);
}
// Info appears as sky
.btn-sky,
.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border, $btn-info-action-color, $btn-info-color);
}
// Warning appears as sand
.btn-sand,
.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border, $btn-warning-action-color, $btn-warning-color);
}
// Danger and error appear as mesa
.btn-mesa,
.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-danger-action-color, $btn-danger-color);
}

.btn-link {
    font-weight: 700;
}

/* ==========================================================================
 * // Components
 * ========================================================================== */

/* @import "bootstrap/component-animations";
 * ========================================================================== */

/* @import "bootstrap/dropdowns";
 * ========================================================================== */
@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display:block;
    }
}

html.ua-brand-icons.external-links .dropdown-menu.dropdown-menu-right .remove-external-link-icon[target=_blank] .psuedo-link span,
html.ua-brand-icons.external-links .dropdown-menu.dropdown-menu-right a[target=_blank ] {
  padding-right: 1.21875em;
}

html.ua-brand-icons.external-links .dropdown-menu.dropdown-menu-right .remove-external-link-icon[target=_blank] .psuedo-link span:after,
html.ua-brand-icons.external-links .dropdown-menu.dropdown-menu-right a[target=_blank ]:after {
  margin-right: 1.21875em;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    margin: 0; // override default ul
    list-style: none;
    padding: 5px 0 5px 0;
    font-size: $font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: $dropdown-bg;
    border: 0; // IE8 fallback
    border: 0;
    border-radius: $border-radius-base;
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
    background-clip: barder-box;

    // Aligns the dropdown menu to right
    //
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right,
    &.dropdown-menu-right {
        right: 0;
        left: auto;

        @media (min-width: 768px) {
            &:before {
                right: 8.9%;
                left: auto;
            }
        }
    }

    @media (min-width: 768px) {
        &:before {
            position: absolute;
            top: 0px;
            left: 8.9%;
            width: 0;
            height: 0;
            border-top: 8px solid white;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            content: '';
        }
    }

    // Dividers (basically an hr) within the dropdown
    .divider {
        @include nav-divider($dropdown-divider-bg);
    }

    // Links within the dropdown menu
    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: bold;
        line-height: $line-height-base;
        color: $dropdown-link-color;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
}

.btn-block .dropdown-menu {
  min-width: 100%;
}

@media (min-width: 768px) {
    .dropdown-menu {
        padding: 20px 0 5px 0;
    }
}
.dropup,
.navbar-fixed-bottom .dropdown {
    // Reverse the caret
    .caret {
        border-top: 0;
        border-bottom: $caret-width-base dashed;
        border-bottom: $caret-width-base solid \9; // IE8
        content: "";
    }


    // Different positioning for bottom up menu
    .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 0px;
        padding: 5px 0 20px 0;

        &:before {
            left: 8.9%;
            top: auto;
            bottom: 0;
            border-top: 0;
            border-bottom: 8px solid white;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            content: '';
        }
    }
}

/* @import "bootstrap/button-groups";
 * ========================================================================== */
.btn .caret {
    margin-left: 2px;
}

/* @import "bootstrap/input-groups";
 * ========================================================================== */
.input-group-btn {
    position: relative;
    // Jankily prevent input button groups from wrapping with `white-space` and
    // `font-size` in combination with `inline-block` on buttons.
    white-space: nowrap;

    // Negative margin for spacing, position for bringing hovered/focused/actived
    // element above the siblings.
    > .btn {
        position: relative;
        + .btn {
            margin-left: -2px;
        }
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
    }

    // Negative margin to only have a 1px border between the two
    &:first-child {
        > .btn,
        > .btn-group {
            margin-right: -2px;
            margin-top: 0;
            padding: 5px 8px;
        }
    }
    &:last-child {
        > .btn,
        > .btn-group {
            z-index: 2;
            margin-left: -2px;
            margin-top: 0;
            padding: 5px 8px;
        }
    }
}

/* @import "bootstrap/navs";
 * ========================================================================== */
.nav > li > a {
    color: $azurite;
    &:hover {
        background-color: $cool-gray;
    }
}


.nav {
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $cool-gray;
      color: $azurite;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}

 // Tabs
 // -------------------------

 // Give the tabs something to sit on
 .nav-tabs {
   border-bottom: 1px solid $component-active-bg;
   > li {
     float: left;
     // Make the list-items overlay the bottom border
     margin-bottom: 0px;

     // Actual tabs (as links)
     > a {
       margin-right: 2px;
       line-height: $line-height-base;
       color: $azurite;
       background: $cool-gray;
       border: 1px solid $cool-gray;
       border-radius: 0;
       transition: ease-in-out 0s;
       &:hover,
       &:focus {
         background: $component-active-bg;
         color: $component-active-color;
         border: 1px solid $component-active-bg;
         transition: ease-in-out 0s;
       }
     }

     // Active state, and its :hover to override normal :hover
     &.active > a {
       &,
       &:hover,
       &:focus {
         color: $component-active-color;
         background-color: $component-active-bg;
         border: 1px solid $component-active-bg;
         border-bottom-color: $component-active-bg;
         cursor: default;
       }
     }
   }
   // pulling this in mainly for less shorthand
   &.nav-justified {
     @extend .nav-justified;
     @extend .nav-tabs-justified;
   }
 }

// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: $nav-pills-border-radius;
      &:hover,
      &:focus {
        background-color: $cool-gray;
      }
    }
    //
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      font-weight: bold;
      background-color: $cool-gray;
      color: $azurite;
    }
  }
}

// Stacked pills
.nav-stacked,
.nav-stacked-nested {
  > li {
    float: none;
    border: solid 1px $cool-gray;
    margin: -1px 0;
    + li {
      margin-top: 0;
      margin-left: 0; // no need for this gap between nav items
    }
    > ul {
      > li {
        border: 0;
        > a {
          font-weight: normal;
          color: $blue;
          padding-left: 25px;
        }
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
          font-weight: normal;
          color: $blue;
        }
        > ul > li {
          > a {
            padding-left: 35px;
          }
          > ul > li {
            > a {
              padding-left: 45px;
            }
            > ul > li {
              > a {
                padding-left: 55px;
              }
              > ul > li {
                > a {
                  padding-left: 65px;
                }
                > ul > li {
                  > a {
                    padding-left: 75px;
                  }
                  > ul > li {
                    > a {
                      padding-left: 85px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

/* @import "bootstrap/navbar";
 * ========================================================================== */
.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}

/* @import "bootstrap/breadcrumbs";
 * ========================================================================== */

.breadcrumb {
    padding: 8px 15px 8px 0px;
    margin-bottom: $line-height-computed;
    list-style: none;
    background-color: $breadcrumb-bg;
    border-radius: $border-radius-base;

    > li {
        display: inline-block;

        &:first-child:before {
            content: "";
            padding: 0;
        }
        &:before,
        &:last-child:after {
            content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: $breadcrumb-color;
        }
        a:hover {
            color: $breadcrumb-hover-color;
            border-bottom: 2px solid $breadcrumb-hover-color;
            text-decoration: none;
        }
        a {
            color: $breadcrumb-color;
            font-weight: 400;
            border-bottom: 2px solid transparent;
            padding: 1px 0;
        }
    }

    > .active {
        color: $breadcrumb-active-color;
    }
}

/* @import "bootstrap/pagination";
 * ========================================================================== */
.pagination {
    > li {
        > a,
        > span {
            font-weight:bold;
            border-width: 2px;
            margin-left: 0;
            margin-right: 0.225em;
        }
    }
    > li > a,
    > li > span {
        &:hover,
        &:focus {
            z-index: 2;
        }
    }
}

/* @import "bootstrap/pager";
 * ========================================================================== */
.pager {
    li {
        > a,
        > span {
            color: $pagination-color;
            font-weight: bold;
            letter-spacing: 0.5px;
            border-width: 2px;
        }
        > a:hover,
        > a:focus {
            color: $pager-hover-color;
        }
    }
    li.disabled {
        > a,
        > span {
            color: $pager-disabled-color;
            border-color: $pager-disabled-border;
        }
        > a:hover,
        > a:focus {
            color: $pager-disabled-color;
        }
    }
}

/* @import "bootstrap/labels";
 * ========================================================================== */
.label {
    font-size: .7em;
    font-weight: 700;
    line-height: 1.5;
    color: $label-color;
    margin: 0 .5em;
}

/* @import "bootstrap/badges";
 * ========================================================================== */

.badge {
    background-color: $badge-bg;
    border-radius: $badge-border-radius;
    color: $badge-color;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $badge-font-weight;
    margin: 0 0 0 .5em;
    min-width: 10px;
    line-height: $badge-line-height;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    // Empty badges collapse automatically (not available in IE8)
    &:empty {
        display: none;
    }

    // Quick fix for badges in buttons
    .btn & {
        position: relative;
        top: -1px;
    }

    .btn-xs &,
    .btn-group-xs > .btn & {
        top: 0;
        padding: 1px 5px;
    }

    // [converter] extracted a& to a.badge

    // Account for badges in navs
    .list-group-item.active > &,
    .nav-pills > .active > a > & {
        color: $badge-active-color;
        background-color: $badge-active-bg;
    }

    .list-group-item > & {
        float: right;
    }

    .list-group-item > & + & {
        margin-right: 5px;
    }

    .nav-pills > li > a > & {
        margin-left: .5em;
    }
}

/* @import "bootstrap/jumbotron";
 * ========================================================================== */

/* @import "bootstrap/thumbnails";
 * ========================================================================== */

/* @import "bootstrap/alerts";
 * ========================================================================== */
.alert-dismissable,
.alert-dismissible {
    .close {
        top: 4px;
    }
}
.alert-danger {
    @include alert-variant($alert-danger-bg, $alert-danger-border, #FFFFFF);
}
.alert-success .alert-link {
  color: $alert-success-text;
}
.alert-info .alert-link {
  color: $alert-info-text;
}
.alert-warning .alert-link {
  color: $alert-warning-text;
}
.alert-danger .alert-link {
  color: $alert-danger-text;
}
.alert-link {
  text-decoration: underline;
}

/* @import "bootstrap/progress-bars";
 * ========================================================================== */

/* @import "bootstrap/media";
 * ========================================================================== */

.media-object {
max-width:initial;
}

/* @import "bootstrap/list-group";
 * ========================================================================== */
@include list-group-item-variant(danger, $state-danger-bg, white);

/* @import "bootstrap/panels";
 * ========================================================================== */
.panel-danger {
    @include panel-variant($panel-danger-border, white, $panel-danger-heading-bg, $panel-danger-border);
}

/* @import "bootstrap/responsive-embed";
 * ========================================================================== */

/* @import "bootstrap/wells";
 * ========================================================================== */
.well {
  background-color: $cool-gray;
  border: 1px solid $cool-gray;
  box-shadow: inset 1px 1px 5px rgba(182, 190, 193, .1);
}

/* @import "bootstrap/close";
 * ========================================================================== */
.close {
    float: right;
    font-size: $font-size-base;
    font-weight: $close-font-weight;
    line-height: 1;
    color: $close-color;
    text-shadow: $close-text-shadow;
    @include opacity(.5);

    &:hover,
    &:focus {
        color: $close-color;
        text-decoration: none;
        cursor: pointer;
        @include opacity(1);
    }
}

/* Accordion Styles
*========================================================================= */
.panel-title {
  font-weight:100;
  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    font-weight:100;
  }
  > a {
    display: block;
  }
}
.panel-title a:before {
  font-family: 'ua-brand-symbols';
  float: right;
}
.panel-title a[aria-expanded="true"]:before {
  content: "\e631";
}
.panel-title a[aria-expanded="false"]:before {
  content: "\e62d";
}
/* ==========================================================================
 * // Components w/ JavaScript
 * ========================================================================== */

/* @import "bootstrap/modals";
 * ========================================================================== */

/* @import "bootstrap/tooltip";
 * ========================================================================== */

/* @import "bootstrap/popovers";
 * ========================================================================== */
.popover {
	padding: 0px;
	@include box-shadow(0 0 0 rgba(0, 0, 0, 0));
}
.popover-title {
	color: $popover-title-color;
}

/* @import "bootstrap/carousel";
 * ========================================================================== */
.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  color: $midnight;
  text-shadow: none;
  font-weight: 700;
}

.carousel-control i {
  position: absolute;
  top: 40%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
  font-size: 2.6em;
}

.carousel-control .carousel-next {
  right: 0;
}
.carousel-control .carousel-prev {
  left: 0;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
}
@media (min-width: 600px) {
  .carousel-control i {
    position: absolute;
    top: 50%;
  }
  .carousel-control.left {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  }
  .carousel-control.right {
      left: auto;
      right: 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  }
  .carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding: 10px;
  }
  .carousel-caption {
      left: 20%;
      right: 20%;
  }
  .carousel-image {
    min-height: 80%;
  }
}

/* ==========================================================================
 * // Utility classes
 * ========================================================================== */

/* @import "bootstrap/utilities";
 * ========================================================================== */

/* @import "bootstrap/responsive-utilities";
 * ========================================================================== */
