doctype html
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="external-links ua-brand-icons sticky-footer"><!--<![endif]-->
head
  include _includes/meta.pug
  title UA Bootstrap - Example Page
  include _includes/scripts-and-styles.pug
body
  header#region_header_ua.l-arizona-header.bg-red
    section.container.l-container
      .row
        a.arizona-logo(href='http://www.arizona.edu', title='The University of Arizona homepage')
          img.arizona-line-logo(alt='The University of Arizona Wordmark Line Logo White', src='https://cdn.uadigital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg')
  #l_page
    #header_site
      .container
        .row
          .col-sm-6
            #site_identifier
              a(href='#')
                img(src='img/placeholder-logo.png')
          .col-sm-6
            .row
              .col-xs-12
                #utility_links
                  ul
                    li
                      a(href='#') Utility Link 1
                    li
                      a(href='#') Utility Link 2
                    li
                      a(href='#') Utility Link 3
            .row
              .col-sm-8.col-sm-offset-4.col-md-6.col-md-offset-6.col-lg-5.col-lg-offset-7
                .form-group
                  label.sr-only(for='ua-bootstrap-search') Search
                  .search-form
                    input#ua-bootstrap-search.form-control.input-search(type='text' placeholder='Search for...')
                    input.btn-search(type='submit', name='op', value='Search')
        .row
          include _includes/navbar-nav.pug
          +mainnav(7)
      // /.container
    // /#header_site
    #content_main
      .container
        .row
          #content.col-md-12
            ol.breadcrumb
              li
                a(href='#') Home
              li
                a(href='#') Parent Page
              li.active Page Title
            .row
              .col-sm-4.col-md-4.square.no-gutter
                .bg-bloom.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Bloom
              .col-sm-4.col-md-4.square.no-gutter
                .bg-red.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong UA Red
              .col-sm-4.col-md-4.square.no-gutter
                .bg-chili.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Chili
            .row
              .col-sm-10.col-md-10.col-md-offset-1
                p &nbsp;
            .row
              .col-sm-4.col-md-4.square.no-gutter
                .bg-sky.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Sky
              .col-sm-4.col-md-4.square.no-gutter
                .bg-blue.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Arizona Blue
              .col-sm-4.col-md-4.square.no-gutter
                .bg-midnight.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Midnight
            .row
              .col-sm-10.col-md-10.col-md-offset-1
                p &nbsp;
                p &nbsp;
            .row
              .col-sm-2.col-md-2.col-sm-offset-1.square.no-gutter
                .bg-sky.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Sky
              .col-sm-2.col-md-2.square.no-gutter
                .bg-oasis.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Oasis
              .col-sm-2.col-md-2.square.no-gutter
                .bg-azurite.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Azurite
              .col-sm-2.col-md-2.square.no-gutter
                .bg-blue.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Arizona Blue
              .col-sm-2.col-md-2.square.no-gutter
                .bg-midnight.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Midnight
            .row
              .col-sm-12
                p &nbsp;
                hr
                h3 Neutral Colors
            .row
              .col-sm-2.col-md-2.col-sm-offset-4.square.no-gutter
                .bg-cool-gray.square-padding.square-content.text-silver-dark.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Cool Gray
              .col-sm-2.col-md-2.square.no-gutter
                .bg-warm-gray.square-padding.square-content.text-silver-dark.text-center
                  .square-vertical-align-content
                    .text-size-h4.text-uppercase.margin-align-middle
                      strong Warm Gray
            .row
              .col-sm-12
                p &nbsp;
                hr
                h3 Secondary Colors
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-leaf.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-11
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Leaf
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-river.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-11
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong River
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-silver.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-1
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Silver
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-mesa.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-11
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Mesa
            .row
              .col-sm-12
                p &nbsp;
                hr
                h3 Legacy Colors
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-ash.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-11
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Ash
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-sage.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-11
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Sage
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-silver.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-1
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Silver
            .row.realign-no-gutter
              .col-xs-1.square.no-padding
                .bg-copper.square-padding.square-content.text-white.text-center
                  .square-vertical-align-content
              .col-xs-11
                .small.text-size-h6.text-uppercase.margin-align-middle.text-silver-dark
                  strong Copper (Mesa)
            .row
              .col-sm-12
                p &nbsp;
                hr
                h3#accessibility Text color accessibility test
                p We use the&nbsp;
                  a(href="http://wave.webaim.org/report#/http://uadigital.arizona.edu/ua-bootstrap/colors.html") WebAIM Accessibility Tool
                  | &nbsp;to see if there are accessibility issues with our styles.
                p
                <label>
                  <input type="checkbox" id="hide-inaccessible"> Hide Inaccessible Color Combinations.
                </label>
                .table-responsive
                  table
                    tr
                      th
                      th
                       code .bg-white
                      th
                       code .bg-bloom
                      th
                       code .bg-red
                      th
                       code .bg-chili
                      th
                       code .bg-sky
                      th
                       code .bg-oasis
                      th
                       code .bg-azurite
                      th
                       code .bg-blue
                      th
                       code .bg-midnight
                      th
                       code .bg-cool-gray
                      th
                       code .bg-warm-gray
                      th
                       code .bg-leaf
                      th
                       code .bg-river
                      th
                       code .bg-silver
                      th
                       code .bg-mesa
                      th
                       code .bg-sage
                      th
                       code .bg-ash
                    tr
                      th
                        code .text-white
                      td.bg-white.inaccessible
                        .text-white Text
                      td.bg-bloom.inaccessible
                        .text-white Text
                      td.bg-red
                        .text-white Text
                      td.bg-chili
                        .text-white Text
                      td.bg-sky.inaccessible
                        .text-white Text
                      td.bg-oasis.inaccessible
                        .text-white Text
                      td.bg-azurite
                        .text-white Text
                      td.bg-blue
                        .text-white Text
                      td.bg-midnight
                        .text-white Text
                      td.bg-cool-gray.inaccessible
                        .text-white Text
                      td.bg-warm-gray.inaccessible
                        .text-white Text
                      td.bg-leaf.inaccessible
                        .text-white Text
                      td.bg-river
                        .text-white Text
                      td.bg-silver.inaccessible
                        .text-white Text
                      td.bg-mesa
                        .text-white Text
                      td.bg-sage
                        .text-white Text
                      td.bg-ash
                        .text-white Text
                    tr
                      th
                        code .text-bloom
                      td.bg-white.inaccessible
                        .text-bloom Text
                      td.bg-bloom.inaccessible
                        .text-bloom Text
                      td.bg-red.inaccessible
                        .text-bloom Text
                      td.bg-chili.inaccessible
                        .text-bloom Text
                      td.bg-sky.inaccessible
                        .text-bloom Text
                      td.bg-oasis.inaccessible
                        .text-bloom Text
                      td.bg-azurite.inaccessible
                        .text-bloom Text
                      td.bg-blue.inaccessible
                        .text-bloom Text
                      td.bg-midnight.inaccessible
                        .text-bloom Text
                      td.bg-cool-gray.inaccessible
                        .text-bloom Text
                      td.bg-warm-gray.inaccessible
                        .text-bloom Text
                      td.bg-leaf.inaccessible
                        .text-bloom Text
                      td.bg-river.inaccessible
                        .text-bloom Text
                      td.bg-silver.inaccessible
                        .text-bloom Text
                      td.bg-mesa.inaccessible
                        .text-bloom Text
                      td.bg-sage.inaccessible
                        .text-bloom Text
                      td.bg-ash.inaccessible
                        .text-bloom Text
                    tr
                      th
                        code .text-red
                      td.bg-white
                        .text-red Text
                      td.bg-bloom.inaccessible
                        .text-red Text
                      td.bg-red.inaccessible
                        .text-red Text
                      td.bg-chili.inaccessible
                        .text-red Text
                      td.bg-sky.inaccessible
                        .text-red Text
                      td.bg-oasis.inaccessible
                        .text-red Text
                      td.bg-azurite.inaccessible
                        .text-red Text
                      td.bg-blue.inaccessible
                        .text-red Text
                      td.bg-midnight.inaccessible
                        .text-red Text
                      td.bg-cool-gray
                        .text-red Text
                      td.bg-warm-gray
                        .text-red Text
                      td.bg-leaf.inaccessible
                        .text-red Text
                      td.bg-river.inaccessible
                        .text-red Text
                      td.bg-silver.inaccessible
                        .text-red Text
                      td.bg-mesa.inaccessible
                        .text-red Text
                      td.bg-sage.inaccessible
                        .text-red Text
                      td.bg-ash.inaccessible
                        .text-red Text
                    tr
                      th
                        code .text-chili
                      td.bg-white
                        .text-chili Text
                      td.bg-bloom.inaccessible
                        .text-chili Text
                      td.bg-red.inaccessible
                        .text-chili Text
                      td.bg-chili.inaccessible
                        .text-chili Text
                      td.bg-sky
                        .text-chili Text
                      td.bg-oasis.inaccessible
                        .text-chili Text
                      td.bg-azurite.inaccessible
                        .text-chili Text
                      td.bg-blue.inaccessible
                        .text-chili Text
                      td.bg-midnight.inaccessible
                        .text-chili Text
                      td.bg-cool-gray
                        .text-chili Text
                      td.bg-warm-gray
                        .text-chili Text
                      td.bg-leaf.inaccessible
                        .text-chili Text
                      td.bg-river.inaccessible
                        .text-chili Text
                      td.bg-silver.inaccessible
                        .text-chili Text
                      td.bg-mesa.inaccessible
                        .text-chili Text
                      td.bg-sage.inaccessible
                        .text-chili Text
                      td.bg-ash.inaccessible
                        .text-chili Text
                    tr
                      th
                        code .text-sky
                      td.bg-white.inaccessible
                        .text-sky Text
                      td.bg-bloom.inaccessible
                        .text-sky Text
                      td.bg-red.inaccessible
                        .text-sky Text
                      td.bg-chili
                        .text-sky Text
                      td.bg-sky.inaccessible
                        .text-sky Text
                      td.bg-oasis.inaccessible
                        .text-sky Text
                      td.bg-azurite
                        .text-sky Text
                      td.bg-blue
                        .text-sky Text
                      td.bg-midnight
                        .text-sky Text
                      td.bg-cool-gray.inaccessible
                        .text-sky Text
                      td.bg-warm-gray.inaccessible
                        .text-sky Text
                      td.bg-leaf.inaccessible
                        .text-sky Text
                      td.bg-river.inaccessible
                        .text-sky Text
                      td.bg-silver.inaccessible
                        .text-sky Text
                      td.bg-mesa.inaccessible
                        .text-sky Text
                      td.bg-sage.inaccessible
                        .text-sky Text
                      td.bg-ash
                        .text-sky Text
                    tr
                      th
                        code .text-oasis
                      td.bg-white.inaccessible
                        .text-oasis Text
                      td.bg-bloom.inaccessible
                        .text-oasis Text
                      td.bg-red.inaccessible
                        .text-oasis Text
                      td.bg-chili.inaccessible
                        .text-oasis Text
                      td.bg-sky.inaccessible
                        .text-oasis Text
                      td.bg-oasis.inaccessible
                        .text-oasis Text
                      td.bg-azurite.inaccessible
                        .text-oasis Text
                      td.bg-blue.inaccessible
                        .text-oasis Text
                      td.bg-midnight
                        .text-oasis Text
                      td.bg-cool-gray.inaccessible
                        .text-oasis Text
                      td.bg-warm-gray.inaccessible
                        .text-oasis Text
                      td.bg-leaf.inaccessible
                        .text-oasis Text
                      td.bg-river.inaccessible
                        .text-oasis Text
                      td.bg-silver.inaccessible
                        .text-oasis Text
                      td.bg-mesa.inaccessible
                        .text-oasis Text
                      td.bg-sage.inaccessible
                        .text-oasis Text
                      td.bg-ash.inaccessible
                        .text-oasis Text
                    tr
                      th
                        code .text-azurite
                      td.bg-white
                        .text-azurite Text
                      td.bg-bloom.inaccessible
                        .text-azurite Text
                      td.bg-red.inaccessible
                        .text-azurite Text
                      td.bg-chili.inaccessible
                        .text-azurite Text
                      td.bg-sky
                        .text-azurite Text
                      td.bg-oasis.inaccessible
                        .text-azurite Text
                      td.bg-azurite.inaccessible
                        .text-azurite Text
                      td.bg-blue.inaccessible
                        .text-azurite Text
                      td.bg-midnight.inaccessible
                        .text-azurite Text
                      td.bg-cool-gray
                        .text-azurite Text
                      td.bg-warm-gray
                        .text-azurite Text
                      td.bg-leaf.inaccessible
                        .text-azurite Text
                      td.bg-river.inaccessible
                        .text-azurite Text
                      td.bg-silver.inaccessible
                        .text-azurite Text
                      td.bg-mesa.inaccessible
                        .text-azurite Text
                      td.bg-sage.inaccessible
                        .text-azurite Text
                      td.bg-ash.inaccessible
                        .text-azurite Text
                    tr
                      th
                        code .text-blue
                      td.bg-white
                        .text-blue Text
                      td.bg-bloom.inaccessible
                        .text-blue Text
                      td.bg-red.inaccessible
                        .text-blue Text
                      td.bg-chili.inaccessible
                        .text-blue Text
                      td.bg-sky
                        .text-blue Text
                      td.bg-oasis.inaccessible
                        .text-blue Text
                      td.bg-azurite.inaccessible
                        .text-blue Text
                      td.bg-blue.inaccessible
                        .text-blue Text
                      td.bg-midnight.inaccessible
                        .text-blue Text
                      td.bg-cool-gray
                        .text-blue Text
                      td.bg-warm-gray
                        .text-blue Text
                      td.bg-leaf
                        .text-blue Text
                      td.bg-river.inaccessible
                        .text-blue Text
                      td.bg-silver
                        .text-blue Text
                      td.bg-mesa.inaccessible
                        .text-blue Text
                      td.bg-sage.inaccessible
                        .text-blue Text
                      td.bg-ash.inaccessible
                        .text-blue Text
                    tr
                      th
                        code .text-midnight
                      td.bg-white
                        .text-midnight Text
                      td.bg-bloom.inaccessible
                        .text-midnight Text
                      td.bg-red.inaccessible
                        .text-midnight Text
                      td.bg-chili.inaccessible
                        .text-midnight Text
                      td.bg-sky
                        .text-midnight Text
                      td.bg-oasis
                        .text-midnight Text
                      td.bg-azurite.inaccessible
                        .text-midnight Text
                      td.bg-blue.inaccessible
                        .text-midnight Text
                      td.bg-midnight.inaccessible
                        .text-midnight Text
                      td.bg-cool-gray
                        .text-midnight Text
                      td.bg-warm-gray
                        .text-midnight Text
                      td.bg-leaf
                        .text-midnight Text
                      td.bg-river.inaccessible
                        .text-midnight Text
                      td.bg-silver
                        .text-midnight Text
                      td.bg-mesa.inaccessible
                        .text-midnight Text
                      td.bg-sage.inaccessible
                        .text-midnight Text
                      td.bg-ash.inaccessible
                        .text-midnight Text
                    tr
                      th
                        code .text-cool-gray
                      td.bg-white.inaccessible
                        .text-cool-gray Text
                      td.bg-bloom.inaccessible
                        .text-cool-gray Text
                      td.bg-red
                        .text-cool-gray Text
                      td.bg-chili
                        .text-cool-gray Text
                      td.bg-sky.inaccessible
                        .text-cool-gray Text
                      td.bg-oasis.inaccessible
                        .text-cool-gray Text
                      td.bg-azurite
                        .text-cool-gray Text
                      td.bg-blue
                        .text-cool-gray Text
                      td.bg-midnight
                        .text-cool-gray Text
                      td.bg-cool-gray.inaccessible
                        .text-cool-gray Text
                      td.bg-warm-gray.inaccessible
                        .text-cool-gray Text
                      td.bg-leaf.inaccessible
                        .text-cool-gray Text
                      td.bg-river.inaccessible
                        .text-cool-gray Text
                      td.bg-silver.inaccessible
                        .text-cool-gray Text
                      td.bg-mesa.inaccessible
                        .text-cool-gray Text
                      td.bg-sage
                        .text-cool-gray Text
                      td.bg-ash
                        .text-cool-gray Text
                    tr
                      th
                        code .text-warm-gray
                      td.bg-white.inaccessible
                        .text-warm-gray Text
                      td.bg-bloom.inaccessible
                        .text-warm-gray Text
                      td.bg-red
                        .text-warm-gray Text
                      td.bg-chili
                        .text-warm-gray Text
                      td.bg-sky.inaccessible
                        .text-warm-gray Text
                      td.bg-oasis.inaccessible
                        .text-warm-gray Text
                      td.bg-azurite
                        .text-warm-gray Text
                      td.bg-blue
                        .text-warm-gray Text
                      td.bg-midnight
                        .text-warm-gray Text
                      td.bg-cool-gray.inaccessible
                        .text-warm-gray Text
                      td.bg-warm-gray.inaccessible
                        .text-warm-gray Text
                      td.bg-leaf.inaccessible
                        .text-warm-gray Text
                      td.bg-river.inaccessible
                        .text-warm-gray Text
                      td.bg-silver.inaccessible
                        .text-warm-gray Text
                      td.bg-mesa.inaccessible
                        .text-warm-gray Text
                      td.bg-sage
                        .text-warm-gray Text
                      td.bg-ash
                        .text-warm-gray Text
                    tr
                      th
                        code .text-leaf
                      td.bg-white.inaccessible
                        .text-leaf Text
                      td.bg-bloom.inaccessible
                        .text-leaf Text
                      td.bg-red.inaccessible
                        .text-leaf Text
                      td.bg-chili.inaccessible
                        .text-leaf Text
                      td.bg-sky.inaccessible
                        .text-leaf Text
                      td.bg-oasis.inaccessible
                        .text-leaf Text
                      td.bg-azurite.inaccessible
                        .text-leaf Text
                      td.bg-blue
                        .text-leaf Text
                      td.bg-midnight
                        .text-leaf Text
                      td.bg-cool-gray.inaccessible
                        .text-leaf Text
                      td.bg-warm-gray.inaccessible
                        .text-leaf Text
                      td.bg-leaf.inaccessible
                        .text-leaf Text
                      td.bg-river.inaccessible
                        .text-leaf Text
                      td.bg-silver.inaccessible
                        .text-leaf Text
                      td.bg-mesa.inaccessible
                        .text-leaf Text
                      td.bg-sage.inaccessible
                        .text-leaf Text
                      td.bg-ash
                        .text-leaf Text
                    tr
                      th
                        code .text-river
                      td.bg-white
                        .text-river Text
                      td.bg-bloom.inaccessible
                        .text-river Text
                      td.bg-red.inaccessible
                        .text-river Text
                      td.bg-chili.inaccessible
                        .text-river Text
                      td.bg-sky.inaccessible
                        .text-river Text
                      td.bg-oasis.inaccessible
                        .text-river Text
                      td.bg-azurite.inaccessible
                        .text-river Text
                      td.bg-blue.inaccessible
                        .text-river Text
                      td.bg-midnight.inaccessible
                        .text-river Text
                      td.bg-cool-gray.inaccessible
                        .text-river Text
                      td.bg-warm-gray.inaccessible
                        .text-river Text
                      td.bg-leaf.inaccessible
                        .text-river Text
                      td.bg-river.inaccessible
                        .text-river Text
                      td.bg-silver.inaccessible
                        .text-river Text
                      td.bg-mesa.inaccessible
                        .text-river Text
                      td.bg-sage.inaccessible
                        .text-river Text
                      td.bg-ash.inaccessible
                        .text-river Text
                    tr
                      th
                        code .text-silver
                      td.bg-white.inaccessible
                        .text-silver Text
                      td.bg-bloom.inaccessible
                        .text-silver Text
                      td.bg-red.inaccessible
                        .text-silver Text
                      td.bg-chili.inaccessible
                        .text-silver Text
                      td.bg-sky.inaccessible
                        .text-silver Text
                      td.bg-oasis.inaccessible
                        .text-silver Text
                      td.bg-azurite.inaccessible
                        .text-silver Text
                      td.bg-blue
                        .text-silver Text
                      td.bg-midnight
                        .text-silver Text
                      td.bg-cool-gray.inaccessible
                        .text-silver Text
                      td.bg-warm-gray.inaccessible
                        .text-silver Text
                      td.bg-leaf.inaccessible
                        .text-silver Text
                      td.bg-river.inaccessible
                        .text-silver Text
                      td.bg-silver.inaccessible
                        .text-silver Text
                      td.bg-mesa.inaccessible
                        .text-silver Text
                      td.bg-sage.inaccessible
                        .text-silver Text
                      td.bg-ash
                        .text-silver Text
                    tr
                      th
                        code .text-mesa
                      td.bg-white
                        .text-mesa Text
                      td.bg-bloom.inaccessible
                        .text-mesa Text
                      td.bg-red.inaccessible
                        .text-mesa Text
                      td.bg-chili.inaccessible
                        .text-mesa Text
                      td.bg-sky.inaccessible
                        .text-mesa Text
                      td.bg-oasis.inaccessible
                        .text-mesa Text
                      td.bg-azurite.inaccessible
                        .text-mesa Text
                      td.bg-blue.inaccessible
                        .text-mesa Text
                      td.bg-midnight.inaccessible
                        .text-mesa Text
                      td.bg-cool-gray.inaccessible
                        .text-mesa Text
                      td.bg-warm-gray.inaccessible
                        .text-mesa Text
                      td.bg-leaf.inaccessible
                        .text-mesa Text
                      td.bg-river.inaccessible
                        .text-mesa Text
                      td.bg-silver.inaccessible
                        .text-mesa Text
                      td.bg-mesa.inaccessible
                        .text-mesa Text
                      td.bg-sage.inaccessible
                        .text-mesa Text
                      td.bg-ash.inaccessible
                        .text-mesa Text
                    tr
                      th
                        code .text-sage
                      td.bg-white
                        .text-sage Text
                      td.bg-bloom.inaccessible
                        .text-sage Text
                      td.bg-red.inaccessible
                        .text-sage Text
                      td.bg-chili.inaccessible
                        .text-sage Text
                      td.bg-sky.inaccessible
                        .text-sage Text
                      td.bg-oasis.inaccessible
                        .text-sage Text
                      td.bg-azurite.inaccessible
                        .text-sage Text
                      td.bg-blue.inaccessible
                        .text-sage Text
                      td.bg-midnight.inaccessible
                        .text-sage Text
                      td.bg-cool-gray
                        .text-sage Text
                      td.bg-warm-gray
                        .text-sage Text
                      td.bg-leaf.inaccessible
                        .text-sage Text
                      td.bg-river.inaccessible
                        .text-sage Text
                      td.bg-silver.inaccessible
                        .text-sage Text
                      td.bg-mesa.inaccessible
                        .text-sage Text
                      td.bg-sage.inaccessible
                        .text-sage Text
                      td.bg-ash.inaccessible
                        .text-sage Text
                    tr
                      th
                        code .text-ash
                      td.bg-white
                        .text-ash Text
                      td.bg-bloom.inaccessible
                        .text-ash Text
                      td.bg-red.inaccessible
                        .text-ash Text
                      td.bg-chili.inaccessible
                        .text-ash Text
                      td.bg-sky
                        .text-ash Text
                      td.bg-oasis.inaccessible
                        .text-ash Text
                      td.bg-azurite.inaccessible
                        .text-ash Text
                      td.bg-blue.inaccessible
                        .text-ash Text
                      td.bg-midnight.inaccessible
                        .text-ash Text
                      td.bg-cool-gray
                        .text-ash Text
                      td.bg-warm-gray
                        .text-ash Text
                      td.bg-leaf
                        .text-ash Text
                      td.bg-river.inaccessible
                        .text-ash Text
                      td.bg-silver
                        .text-ash Text
                      td.bg-mesa.inaccessible
                        .text-ash Text
                      td.bg-sage.inaccessible
                        .text-ash Text
                      td.bg-ash.inaccessible
                        .text-ash Text
                    tr
                      th
                        code .text-silver-dark
                      td.bg-white
                        .text-silver-dark Text
                      td.bg-bloom.inaccessible
                        .text-silver-dark Text
                      td.bg-red.inaccessible
                        .text-silver-dark Text
                      td.bg-chili.inaccessible
                        .text-silver-dark Text
                      td.bg-sky.inaccessible
                        .text-silver-dark Text
                      td.bg-oasis.inaccessible
                        .text-silver-dark Text
                      td.bg-azurite.inaccessible
                        .text-silver-dark Text
                      td.bg-blue.inaccessible
                        .text-silver-dark Text
                      td.bg-midnight.inaccessible
                        .text-silver-dark Text
                      td.bg-cool-gray
                        .text-silver-dark Text
                      td.bg-warm-gray
                        .text-silver-dark Text
                      td.bg-leaf.inaccessible
                        .text-silver-dark Text
                      td.bg-river.inaccessible
                        .text-silver-dark Text
                      td.bg-silver.inaccessible
                        .text-silver-dark Text
                      td.bg-mesa.inaccessible
                        .text-silver-dark Text
                      td.bg-sage.inaccessible
                        .text-silver-dark Text
                      td.bg-ash.inaccessible
                        .text-silver-dark Text
          // /.col-md-12-
    // /#content_main
    footer#footer_site
      .container
        .row
          .col-md-6
            #footer_logo.text-center-sm.text-center-xs.text-left
              a(href='#')
                img(src='img/placeholder-logo.png')
          .col-md-6
            #footer_menu.text-center-sm.text-center-xs.text-right
              ul
                li
                  a(href='#') Link 1
                li
                  a(href='#') Link 2
                li
                  a(href='#') Link 3
                li
                  a(href='#') Link 4
                li.last
                  a(href='#') Link 5
        hr
        .row
          .col-md-12
            #footer_copyright.text-center
              | Wilbur Building, Room 1891   |   The University of Arizona   |   Tucson, AZ USA 85721    <br>
              | Phone: (520) 621-2211  |   Email:&nbsp;
              a(href='#') department.name@email.arizona.edu <br>
              | © 2016 The Arizona Board of Regents on behalf of the University of Arizona   |&nbsp;
              a(href='#') Feedback
      // /.container
  // /#l_page
  include:marked _includes/footer.md
  include _includes/footer-scripts.pug
