doctype
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="external-links ua-brand-icons sticky-footer"><!--<![endif]-->

  head
    include _includes/meta.pug
    title UA Bootstrap
    include _includes/scripts-and-styles.pug
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.pug
    +mainnav(1)
    .page-title
      .container
        .row
          .col-xs-12.col-md-8
            h1 UA Bootstrap
            p How to download and use. Plus basic templates, examples, and more.
    .main-content
      .container
        .row
          .col-md-9
            include:marked _includes/getting-started.md
            //include:marked _includes/examples.md
            include:marked _includes/contribute.md
          .col-md-3
            include:marked _includes/side-nav.md

    include:marked _includes/footer.md
    include _includes/footer-scripts.pug